.editor_area {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.input-group {
    width: 80%;
}
#title {
    margin-top: 40px;
}
.editor {
    padding-top: 60px;
}
#blog-textarea {
    width: 80%;
}
#submit {
    margin-top: 20px;
    margin-left: 93%;
}
.CodeMirror {
    height: 400px;
}
.article {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
}
.content {
    padding: 2% 8% 5% 8%;
    border: 1px solid LightGrey;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.content h2 h3 h4 h5 h6 {
    color: #666666;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}
.login {
    width:20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border: 1px solid LightGrey;
}