<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/simplemde.min.js"></script>
<script type="text/javascript" src="/static/js/web.js"></script>

<link rel="stylesheet" href="/static/css/simplemde.min.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" charset="utf-8">
<h3>Zhou Qiang's Blog</h3>
<div class="editor">
    <textarea id="blog-textarea" placeholder="写..."></textarea>
    <button id="submit">提交</button>
</div>
<script type="text/javascript">
    var simplemde = new SimpleMDE({ element: $("#blog-textarea")[0] });
    $('#submit').click(function () {
        var content = simplemde.value();
        post_article("test",content)
    })
</script>
